---
import Layout from '../layouts/Layout.astro';
import BouncyComponent from '../components/Bouncy.jsx';
---

<Layout>
  <main class="max-w-6xl mx-auto px-6 sm:px-8">
    <h1 class="text-4xl sm:text-5xl tracking-normal text-center my-8 bg-card p-6">Bouncy</h1>
    <BouncyComponent />
  </main>
</Layout>


