---
import ProjectCards from '../components/ProjectCards.jsx';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class="max-w-5xl mx-auto px-6 sm:px-8 pb-10">
    <h1 class="text-5xl sm:text-6xl tracking-normal sm:tracking-wide text-center my-4 bg-card p-8"><span class="block sm:inline">green</span><span class="block sm:inline font-semibold">www</span><span class="block sm:inline">old</span></h1>
    <ProjectCards />
  </main>
</Layout>
