---
import '../styles/global.css';
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>greenwwwold</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300..900&display=swap" rel="stylesheet" />
        <style>
            html,
            body {
                margin: 0;
                width: 100%;
                height: 100%;
            }
        </style>
    </head>
    <body class="font-sans bg-body text-text text-lg">
        <slot />
    </body>
</html>
